/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
}
